<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for quiz in quiz_list %}
        {{ quiz.name }}

        {% for category in quiz.categories.all %}
            <ul>
    {{ category.name }}
            {% for option in category.options.all %}
                <li style="display: inherit">
                    <input type="checkbox" name="checkboxlist" value="example">
                        <span>
                            {{ option.name }}
{#            {{ option.description }}#}
                        </span>
                </li>
        {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
    <button type="submit">
        Выдать результат
    </button>
</body>
</html>