<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for quiz in quiz_list %}
        {{ quiz.name }}
        {% for category in quiz.categories.all %}
    {{ category.name }}
            {% for option in category.options.all %}
            {{ option.name }}
            {{ option.description }}
        {% endfor %}
        {% endfor %}
    {% endfor %}

{#    {% for category in quiz_category_list %}#}
{#        <ul>#}
{#            <li>#}
{#                {{ category.name }}#}
{#                <ul>#}
{#                    <li>#}
{#                        <input type="checkbox">#}
{#                        <span>#}
{#                            {% for category_description in quiz_category_list %}#}
{#                                {{ category_description.name }}#}
{#                            {% endfor %}#}
{#                        </span>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}

{#    {% endfor %}#}
</body>
</html>